body {
    font-family: 'special elite', cursive;
    background: #f5dbdaed;
}

.header_div {
    background: rgb(255, 255, 255);
    color: #ce2700;
}

.header_div p {
    font-family: 'Roboto', sans-serif;
    color: black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto, sans-serif';
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-decoration: dotted;

}